<div class="row">  
  <div class="small-4 large-4 columns">
    <ul class="side-nav">
      {{#each model}}  
        <li>{{#link-to 'playlist' this}}{{title}}{{/link-to}}</li>
      {{else}}
        <h3>Empty</h3>
      {{/each}}    
    </ul>    
  </div>
  <div class="small-8 large-8 columns">{{outlet}}</div>
</div>
